@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

html {
  background-color: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
}

/* Globals-ish */
.sectionHeader {
  font-family: "Montserrat", sans-serif;
  line-height: 171px;
}

.sectionText {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* Awards Panel */
.awardsParent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  margin-top: "2%";
}

.Awards2020 {
  grid-area: 1 / 1 / 2 / 2;
}
.Awards2019 {
  grid-area: 1 / 2 / 2 / 3;
}
.Awards2018 {
  grid-area: 2 / 1 / 3 / 2;
}
.Awards2017 {
  grid-area: 2 / 2 / 3 / 3;
}

.awardsList {
  list-style: none;
  padding-left: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 37px;
}

.inactiveAwardHover {
  color: "#FFFFFF";
  opacity: 0.31;
  transition: 0.3s;
}

.inactiveAwardHover:hover {
  opacity: 1;
}

.yearHeader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.7em;
  line-height: 85px;
}

/* BEGIN PROJECTS GRID */
.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.projectFRI {
  grid-area: 1 / 1 / 2 / 2;
}
.projectGViz {
  grid-area: 1 / 2 / 2 / 3;
}
.projectSciSearch {
  grid-area: 1 / 3 / 2 / 4;
}
.projectTanzania {
  grid-area: 2 / 1 / 3 / 2;
}
.projectNYC {
  grid-area: 2 / 2 / 3 / 3;
}

.projectCard {
  width: 90%;
  border-style: solid;
}

/* BEGIN TEAM GRID */
.teamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.coleCard {
  grid-area: 1 / 1 / 2 / 2;
}
.lonnieCard {
  grid-area: 1 / 2 / 2 / 3;
}
.aniketCard {
  grid-area: 1 / 3 / 2 / 4;
}
.virajCard {
  grid-area: 2 / 1 / 3 / 2;
}
.katsukiCard {
  grid-area: 2 / 2 / 3 / 3;
}
.matthiasCard {
  grid-area: 2 / 3 / 3 / 4;
}

.teamCard {
  width: 60%;
  color: white;
}

.teamPicture {
  border-style: solid;
  border-color: #c4c4c4;
  background-color: #c4c4c4;
}

/* BEGIN CLOSING PROJECT GRID */
.closingGrid {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.projectEmail {
  grid-area: 1 / 1 / 2 / 2;
}
.projectFormEntry {
  grid-area: 1 / 2 / 2 / 3;
}
